@import 'bootstrap/dist/css/bootstrap';

#title {
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block{
  display: inline-block;
}